<html lang="en"></html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Fjalla+One&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>PREMIER LEAGUE </title>
  </head>
    <nav>
     <h1>PREMIER LEAGUE </h1>
      <a href="/teams/new" >Add a Player</a>
      <a href="/teams" >Current team </a>
      <%if (user) { %>
        <a class="btn btn-danger auth" href="/logout">Logout</a>
        <% } else { %>
        <a class="btn btn-success auth" href="/auth/google">Login</a>
        <% } %>
      </nav>
    </head>