<html lang="en"></html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title> </title>
  </head>
    <nav class= "pink ">
      <div class="nav-wrapper">
        <a class="brand-logo" href="/">Sync</a>
      <%if (user) { %>
        <a  class="right" href="/logout">Logout</a>
        <% } else { %>
        <a class="right" href="/auth/google">Login</a>
        <% } %>
       </nav>
    </head>
    <body>
    <div class="row">
        <div class="col m10 m12">
            
          <div class="card ">
            <div class="card-content white-text">
              <span class="card-title">Sync what is it ?

              </span>
              <p> Sync is a period tracking app, helping you to better manage your symptoms and keeping up with your cycle.  </p>
               <p> Login and start your own personal profile. </p>
            </div>
          </div>
        </div>
</div>

