<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

</head>
<nav class= "pink ">
        <div class="nav-wrapper">
                <%if (user) { %>
                    <a  class="right" href="/logout">Logout</a>
                    <% } else { %>
                    <a class="right" href="/auth/google">Login</a>
                    <% } %>
          <a class="brand-logo" id ="logo" href="/">Sync</a>
          <a class="right"href="/info/new">Profile</a>
          <a class="right"href="/users">Forms</a>
      </nav>
      </head>
      <footer class="page-footer"> </footer>
<body>
    <form id="new-form" action="/info/<%=infos._id %>?_method=PUT" method="POST">
            
            <div>
              <label for="name">Name:</label>
              <input  name = "name" type="text" >
            </div>
            <div>
              <label for=>Age:</label>
              <input name = "age" type="number" >
            </div>
            <label> Birth control </label>
            <select class="browser-default" name="birthControl">
                    <option  value="None">None</option>
                    <option  value="IUD">IUD</option>
                    <option  value="Pill">Pill</option>
                    <option  value="Nuvaring">Nuvaring</option>
                    <option   value="Depo-Provera">Depo-Provera</option>
            </select >
            <label >Weight:</label>
            <input name = "weight" type="number" >
          </div>

          <div>
            <button class="btn waves-effect waves-light" type="submit" name="action">Submit Changes 
                        
            </button>
                            
          </div>
              </form>