<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

</head>
<nav class= "pink ">
        <div class="nav-wrapper">
                <%if (user) { %>
                    <a  class="right" href="/logout">Logout</a>
                    <% } else { %>
                    <a class="right" href="/auth/google">Login</a>
                    <% } %>
          <a class="brand-logo" id ="logo" href="/">Sync</a>
          <a class="right"href="/info/new">Profile</a>
          <a class="right"href="/users">Forms</a>
      </nav>
      </head>
      <footer class="page-footer"> </footer>
<body>