html{
  background-color: #ede7d9;

    height: 100%;
    margin: 0;
  }



a {
  color: #00B7FF;
}

.home{
  display:flex;
 align-content: center;
}
body{
  height: 3000px;
}
.right {
  font-size: 20px;
  margin: auto ;
  padding: 5px 15px 5px 5px;
}
#logo{
  padding: 5px 5px 5px 5px;
}
.card{
  background-color:rgb(230, 154, 145);

}
label{
  font-display: bold;
  font-size: 18px;
  color:rgb(69, 66, 66);
  padding:10px;
}
.footer,
.push {
  height: 50px;
}