html{
  background-color: #ede7d9
}
body {

  padding: 50px;
  font: 14px 'Noto Sans KR', sans-serif;
}

a {
  color: #00B7FF;
}

.home{
  display:flex;
 align-content: center;
}
div{
  background-image:('https://i.imgur.com/4jyQ4yz.png');
}